* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

div.timer {
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
   letter-spacing: .1rem;
}

div.timer>span {
  display: block;
  font-size: 4.5rem;
}
.field>.label {
  font-size: 1.4em;
}
[data-days] {
   font-size: 1.3em;
}
[data-hours] {
   font-size: 1.2em;
}
[data-minutes] {
   font-size: 1.1em;
}
[data-seconds] {
   font-size: 1.em;
}